
.productCard {
    max-width: 400px;
    margin: auto; 
    margin-top: 20vh; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .productImage {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  .productPrice {
    font-size: 1.2rem;
    color: #009688; 
    margin-top: 10px;
  }
  
  .productDescription {
    margin-top: 10px;
  }
  
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 2rem;
  }
  